html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
/*  font: inherit;*/
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }

body {
  background: #fcfcfc url('bg.png'); /* http://subtlepatterns.com/crossword/ */
  font-size: 62.5%;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 45px 25px;
  padding-bottom: 100px;
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

.grid {
    position: relative;
    margin: 0 auto;
    padding: 0 0 4em 0;
    max-width: 100%;
    max-height: 100%;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 360px;
    max-width: 30%;
    height: 360px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin-left: 0px;
   ;
}

.grid figure figcaption {
    padding: 0;
    color: #f8f8f8;
    text-transform: uppercase;
    font-size: 1.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}



.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


body {
	background: #f2f0eb url(images/bg.JPG);
	font-size: 1em; color: #636363; line-height: 24px;
}

#container {
	width: 100%; margin: 0 auto;
}

/*--slider--*/
.top-menu {
  float: left;
  margin: .8% auto 0;
    padding-top: 9px;
    padding-bottom: 15px;
 width: 100%;
  text-align: center;
    
}
.top-menu ul{
	padding:0;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 25px;
	color: #8B5BC8;
	font-weight: 900;
	vertical-align: top;
}
nav a {
    
	position: relative;
	display: inline-block;
	outline: none;
	color: #8B5BC8;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	  color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
.top-menu ul li a{
   text-decoration: none;
  color: #34353a;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	  color: #fff;
}

img {
    width: 100%;
}

figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

figure.effect-jazz img {
	opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
}

figure.effect-jazz:hover img {
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

#resume {
    width: 85%;
    margin-top:15px;
    margin-bottom:30px;
    position:relative;
    height:100%;
    
}

.res-bg {
    background-image: url("../images/bg.jpg");
    background-size:cover;
  
}

#content {
	width: 400px;
	margin: 0 auto;
	padding: 0 60px 30px 60px;
	background: #fafafa;
	text-align:center
}

img {border:2px solid #eee; margin:0px 10px;}
img:hover {border:2px solid #ccc}




.sm {font-size:10px; color:#000; margin-bottom:2px}



#wrap {width:530px; margin:20px auto 0; height:500px;}
h1 {margin-bottom:-150px; text-align:center;font-size:48px; text-shadow:0 1px 0 #ede8d9; }






#footer {
    font-size: 16px;
    width:560px; 
    display: block;
    text-transform: uppercase;
    
}


#aboutTop {
    width:45%;
    height: 45%;
    margin:auto;
     
}




#icon {
    display: block;
    float:left;
    width: 40px;
    height: 40px;
    display: table-cell;
    margin: 50px;
    position: relative;
    
    
    
}

.main-title{
    margin:auto;
    color:#45518D;
    
  
}

#greeting{
    margin-top:1em
}

hr.red-rule{
    border:0;
    height:.75em;
    background:#1e2341;
    display:block;
    clear:both;
    margin:0 2em;
    border-radius:.25em;
    padding-top: 10px;
    margin-top:10px
    
}

hr.foot-rule{
    border:0;
    height:4px;
    background:#6B305C;
    display:block;
    clear:both;
    margin:0 1em;
    border-radius:.25em;
    padding-top: .2px;
    margin-top:10px
    
}


h1 {
    margin: auto;
    padding-top: 15px;
    font-family: 'Ubuntu Condensed', 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 50;
}

body1 {
    font-family: 'Muli', sans-serif;
   
}

#aboutYo {
    padding-top:10px;
    font-weight: bolder;
    text-align: center;
   
    
}

h3.greeting {
    text-align: center;
    font-size: 30px;
    padding-top:20px;
    padding-bottom: 15px;
    color: #E35EAD;
    font-style: bold;
}

p.slogan {
   margin-top:10px;
    text-align:center;
    font-style: italic;
    color: #E35EAD;
    font-size:20px;
}

p.mid {
    width:80%;
    margin:auto;
    word-spacing: 3px;
    font-size:18px;
    padding-bottom: 10px;
}

button {
    padding-top: 20px;
  background: #6B305C;
  background-image: -webkit-linear-gradient(top, #6B305C, #6B305C);
  background-image: -moz-linear-gradient(top, #6B305C, #6B305C);
  background-image: -ms-linear-gradient(top, #6B305C, #6B305C);
  background-image: -o-linear-gradient(top, #6B305C, #6B305C);
  background-image: linear-gradient(to bottom, #6B305C, #6B305C);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #E35EAD 3px;
  text-decoration: none;
}

button:hover {
  background: #8B5BC8;
  text-decoration: none;
}

p.boom {
    margin:auto;
    padding-top: 10px;
    font-size:30px;
    width:60%;
    text-align:center;
    font-style: ;
    color: #48528F;
    border-color: #8B5BC8;
    line-height: normal;
    padding-bottom: 30px;
    
}

h2.me {
    font-size: 30px;
    color: #45518D;
}

p.bottom {
    display:block;
    margin:auto;
    font-size:12px;
    display:block;
    text-align: center;
    
    
}
